RUST_LOG=info
PORT=3003
MYSQL_URL=mysql://smartiot:smartiot123@localhost:3306/smartiot
INFLUX_URL=http://localhost:8086
INFLUX_ORG=smart-construction
INFLUX_BUCKET=sensor-data
INFLUX_TOKEN=my-super-secret-auth-token
